$primaryColor: #0084ff;
$secondaryColor: #004f99;
.paymentMethod {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .container {
    width: 60vh;
    height: 60vh;

    border-radius: 1vh;
    background: rgba(15, 15, 15, 0.96);

    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
      margin-top: 3.2vh;

      width: 100%;
      height: 5.5vh;

      display: flex;
      justify-content: center;
      align-items: center;

      background: linear-gradient(90deg, $primaryColor 0%,$secondaryColor 100%);

      color: #fff;

      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 2.8vh;
    }

    .description {
      margin-top: 1.5vh;

      color: #fff;

      font-family: "Akrobat", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2.3vh;

      span {
        color: $primaryColor;
      }
    }

    .options {
      margin-top: 4.2vh;
      display: flex;
      gap: 2.9vh;

      .option {
        width: 25vh;
        height: 32.5vh;

        border-radius: 0.75vh;
        border: 0.4vh solid $primaryColor;
        background: #000;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;

        transition: all 0.5s ease;

        img {
          width: 11vh;
          height: 11vh;
        }

        .label {
          color: #fff;

          font-family: "Akrobat", sans-serif;
          font-weight: 600;
          font-style: normal;
          font-size: 3.5vh;
        }

        &:hover {
          cursor: pointer;

          background: $primaryColor;
          transform: scale(1.01);
        }
      }
    }

    .exit {
      position: absolute;
      bottom: 0;
      right: 0;

      margin: 2vh;
      width: 4.5vh;
      height: 4.5vh;

      border-radius: 0.5vh;
      border: 0.3vh solid $primaryColor;

      display: flex;
      justify-content: center;
      align-items: center;

      color: #fff;

      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 2vh;

      transition: all 0.2s ease;

      &:hover {
        cursor: pointer;
        background: $primaryColor;
      }
    }
  }
}